*{
    margin: 0;
    padding: 0;
}


h1,
h2,.center{
    text-align: center;
}
a{
   
    color: turquoise;
}
header,footer{
    background-color: #022555;
    color: #FFF;
}
aside nav a{
    color: tomato;
}